
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="eu">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-color:cadetblue">
        <h2>@ViewBag.Message</h2>
    </div>

    <p title="i am a para">Hello Mr Johnson I am waiting for your response</p>
</body>
</html>
